<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Abhay Kumar">
    <link rel="stylesheet" href="{{ url_for('static , filename='css/style.css') }}">
    <title>Home Page</title>

</head>

<body>
    <a href="science-videos.html" target="_blank"><button class="button" type="button"> science related videos.</button></a>
    <h1>Welcome to this page!</h1>
    <p>This page will be about science and science related stuff.</p>
    <hr>
    <h2>Introduction</h2>
    <p> My name is Abhay Kumar. I live in Pinjore,Haryana. I was born in 1998. </p>
    <h2> Qualifications</h2>
    <div>
        <li> I completed my 10th class from J.P. Gurukul High School in the year 2014.</li>
        <li>I completed my 12th class from Amravati Vidyalaya in the year 2016.</li>
        <li>I completed my Bachelor's degree in Science from DAV College Sector 10 Chandigarh in the year 2019. </li>
        <h2>Interests and Hobbies</h2>
        <div>
            <li>My favourite subjects are Physics and Maths.</li>
            <li>I love learning programming languages. </li>
            <li>I love watching anime.</li>
            <li>I love playing cricket and pubg.</li>
            <li>I love watching science documentaries.</li>
        </div>
        <h2>General Information about me</h2>
        <li>I have derived some mathematics and physics related formulas.</li>
        <li>I am learinig python,html and css at the moment. </li>
        <li>My favourite documentaries are <ul>
                <li>Cosmos - A Personal Voyage by Carl Sagan.</li>
                <li>Ascent of Man by Jacob Bronowski.</li>
            </ul>
        </li>
        <li>My favourite anime are <ul>
                <li>Attack on Titan</li>
                <li>One Piece</li>
                <li>Naruto</li>
                <li>Death Note</li>
                <li>Fullmetal Alchemist</li>
                <li>Hunter x Hunter</li>
            </ul>

        </li>

    </div>
    <hr>


</body>

</html>
