<!DOCTYPE html>
<html>
    <head>
        <title>
            Cosmos -A Personal Voyage
        </title>
    </head>
    <style>
        nav { 
            
            margin-left:290px;
        
        }
        .navbutton {
            height: 60px;
            width: 100px;
            background-color: aquamarine;
            margin-left: -5px;
            margin-right: 0px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            color: magenta;
        

        }
        </style>

    <body>
        <nav> 
            <a href="home.html" > <button type="button" class="navbutton">Home</button></a>
            <a href="about.html"> <button type="button" class="navbutton">About</button></a>
            <a href="ascent-of-man.html"> <button type="button" class="navbutton" style="width:130px">Ascent of man</button></a>
            <a href="cosmos.html"> <button type="button" class="navbutton">cosmos</button></a>
            <a href="math.html"> <button type="button" class="navbutton">Maths</button></a>
        </nav>
        <li>
            These are from Carl Sagan's Cosmos.
            <p></p>
            <div>
        
                <iframe width="450" height="250" src="https://www.youtube.com/embed/J1cNaFG1VII" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="450" height="250" src="https://www.youtube.com/embed/uA5XuOIilYc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="450" height="250" src="https://www.youtube.com/embed/m6ugFcwsgpE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="450" height="250" src="https://www.youtube.com/embed/cSrL0BXsO40" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="450" height="250" src="https://www.youtube.com/embed/wupToqz1e2g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="450" height="250" src="https://www.youtube.com/embed/cIANk7zQ05w" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        
            </div>
        </li>
    </body>
</html>