<!DOCTYPE html>
<html>
<head>
    <meta  name="author" content="Abhay Kumar">
    <meta name="contact" content="kabhay166@gmail.com">
    <title>Science related videos</title>
</head>
<body>
<h2>Science related videos</h2>
<p>Here i will be sharing with you some of the videos that i like.</p>
<li>
    These are from Jacob Bronowski's Ascent of Man
    <p></p>
    <div>

        <iframe width="450" height="250" src="https://www.youtube.com/embed/F2kiAF1GL9M" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <iframe width="450" height="250" src="https://www.youtube.com/embed/fXnpFvsiCNE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</li>
<hr>
<li>
    These are from Carl Sagan's Cosmos.
    <p></p>
    <div>

        <iframe width="450" height="250" src="https://www.youtube.com/embed/J1cNaFG1VII" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="450" height="250" src="https://www.youtube.com/embed/uA5XuOIilYc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="450" height="250" src="https://www.youtube.com/embed/m6ugFcwsgpE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="450" height="250" src="https://www.youtube.com/embed/cSrL0BXsO40" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="450" height="250" src="https://www.youtube.com/embed/wupToqz1e2g" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="450" height="250" src="https://www.youtube.com/embed/cIANk7zQ05w" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>
</li>
</body>
</html>